Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["your-authorized-buckets-name"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:

  # Fullchain
  "/.certs/fullchain.pem":
    mode: "000775"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ap-southeast-1.amazonaws.com/path/to/certs/fullchain.pem

  # Private key
  "/.certs/privkey.pem":
    mode: "000775"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ap-southeast-1.amazonaws.com/path/to/certs/privkey.pem
